*.pyc
*.egg-info/
__pycache__/
.DS_Store
.pytest_cache/
.vscode/
.egg-info/
/bin
/fixtures
/lib
/node_modules
/share
.coverage
pip-selfcheck.json
pyvenv.cfg
env/
venv/
.env

src/{{cookiecutter.project_slug}}/public/
src/{{cookiecutter.project_slug}}/static/dist/
